header.header(role="banner")
	.container.container--large
		.row
			.col-lg-7
				.header-title
					h1 #{error.name}
					strong.header-subtitle #{ error.message }
		//-
			.col-lg-3
				p #{ project }
		.row
			.col-lg-8
				.header-content
					p
						| Your Harp app could not be built because of a #{error.name} in
						code.word-break #{ error.filename }
.container.container--large
	.row
		if error.stack
			.col-lg-9
				pre.code
					code= error.stack
		if (error.source != null && error.dest != null) && (error.source != error.dest)
			.col-lg-2
				.process-list
					.col-6.col-lg-12.process-step.animated.fadeInDown(class="process-step--#{ error.source != null?error.source.toLowerCase() : 'null' }")= error.source != null?error.source.toLowerCase() : 'missing'
					.col-6.col-lg-12.process-step.animated.fadeInDown(class="process-step--#{ error.dest!=null?error.dest.toLowerCase():'null' }")= error.dest!=null?error.dest.toLowerCase():'missing'
			.col-lg-1
				.process-list
					.col-6.col-lg-12.process-label Your Input
					.col-6.col-lg-12.process-label Attempted Output
		else
			.col-lg-2
				.col-12.process-step.animated.fadeInDown(class="process-step--#{ error.dest != null?error.dest.toLowerCase() : 'null' }")= error.dest

	//-
		.col-lg-12
			.toggle
				input.toggle-input(id="section-current", name="section-current", type="checkbox")
				label.toggle-label(for="section-current", id="current") Current Variables
				.toggle-content.toggle-content--large
					pre.code.code--subordinate
						code= JSON.stringify(current, null, 2)

			.toggle
				input.toggle-input(id="section-globals", name="section-globals", type="checkbox")
				label.toggle-label(for="section-globals", id="globals") Global Variables
				.toggle-content.toggle-content--large
					pre.code.code--subordinate
						code= JSON.stringify(globals, null, 2)

	.row
		.col-lg-8
			footer.content-info(role="content-info")
				a.col-3.col-lg-2.header-logo(href="http://harpjs.com", title="Harp")
					.logo
						!= partial("shared/wordmark")
					//- .logo-version= pkg.version
				ul.col-9.col-lg-10.nav-list
					li.nav-list-item
						a.nav-list-item-link(href="http://docs.harp.io/templating") Documentation